@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body {
  background: url("https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

#poke-title {
  font-family: 'Luckiest Guy', cursive;
  color: #fccf00;
  -webkit-text-stroke: 3.5px #2468b1;
  font-size: 3em;
}

.poke-card {
  border: solid #fccf00 10px;
  border-radius: 10px;
  background-color: #FFE672;
  width: 25%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border: 4px #7b7b7b solid;
  border-radius: 10px;
  background-color: #c0c0c0;
  padding-top: 2px;
  padding-bottom: 2px;
}

h4 {
  margin: 0;
}

img {
  height: 10em;
}
